* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	list-style: none;
	text-decoration: none;
}

body {
	padding: 20px;
	font-family: sans-serif;
	min-width: 400px;
}

h1 {
	color: #000;
	text-align: center;
	margin: 20px 0px;
}

input {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	border: 1px solid #5b03ff;
}

button {
	margin-top: 10px;
	cursor: pointer;
	font-weight: bold;
	background-color: #5b03ff;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	border: 1px solid #5b03ff;
	border-radius: 4px;
}

#delete-btn {
	background-color: #fff;
	color: #5b03ff;
}

ul {
	margin-top: 20px;
}

li {
	margin-top: 5px;
}

a {
	color: #5b03ff;
	font-size: 1rem;
}
